In [2]:
import pandas as pd
import numpy as np
import requests

In [3]:
Census_2015 = pd.read_excel('Census population by Commune 2015.xlsx',sheet_name='2015',header=7,names=['COM','NAME','POP_15'])

In [221]:
Census_2015.head()

     COM                      NAME  POP_15
0  01001  L' Abergement-Clémenciat     767
1  01002    L' Abergement-de-Varey     241
2  01004         Ambérieu-en-Bugey   14127
3  01005       Ambérieux-en-Dombes    1619
4  01006                   Ambléon     109

In [4]:
france = pd.read_excel('France GeoIDs.xlsx')

In [5]:
scraped_geoids = pd.read_csv('matching_results.csv',index_col=0)

In [6]:
scraped_geoids.rename({'geonameid':'scraped_geoid'},axis = 1,inplace = True)

In [7]:
scraped_geoids.shape

(192, 4)

In [8]:
france = france[france['feature_code']=='ADM4']

In [9]:
france.head()

,geonameid,name,asciiname,alternatenames,latitude,longitude,feature_class,feature_code,country_code,cc2,admin1_code,admin2_code,admin3_code,admin4_code,population,elevation,dem,timezone,modification_date
439,6424576,Magnieu,Magnieu,"Man'e,Man'jo,Manyo,ma ni e,manyw,Маньё,Маньє,Մ...",45.77556,5.71944,A,ADM4,FR,NaN,84,1,11,1227,418,NaN,279,Europe/Paris,2016-02-18
440,6424832,Condé-sur-Suippe,Conde-sur-Suippe,"Konde sir Sip,Konde-sjur-Sjuip,Konde-sjur-Sjui...",49.42000,3.95000,A,ADM4,FR,NaN,32,2,22,2211,236,NaN,55,Europe/Paris,2016-02-18
441,6425088,Morsain,Morsain,"Morsen,mo er sang,Морсен,莫尔桑",49.45333,3.17972,A,ADM4,FR,NaN,32,2,24,2527,431,NaN,61,Europe/Paris,2016-02-18
442,6425344,Domérat,Domerat,"Domairac,Domairat,Domera,domera,duo mei la,Дом...",46.36080,2.53520,A,ADM4,FR,NaN,84,3,31,3101,8980,NaN,242,Europe/Paris,2016-02-18
443,6425600,Vaumeilh,Vaumeilh,NaN,44.28833,5.95917,A,ADM4,FR,NaN,93,4,44,4233,267,NaN,612,Europe/Paris,2016-02-18

In [10]:
Census_uniques = Census_2015.drop_duplicates(subset='NAME',keep = False)

In [11]:
Census_dups = Census_2015[Census_2015['NAME'].duplicated(keep = False)]

In [12]:
match_uniques = pd.merge(Census_uniques,france,how = 'left',left_on='NAME',right_on='name')

In [13]:
match_uniques = match_uniques[['COM','NAME','POP_15','geonameid','name','asciiname']]

In [14]:
(match_uniques['geonameid'].isnull()).sum()

191

In [15]:
match_uniques.head()

,COM,NAME,POP_15,geonameid,name,asciiname
0,01001,L' Abergement-Clémenciat,767,NaN,NaN,NaN
1,01002,L' Abergement-de-Varey,241,NaN,NaN,NaN
2,01004,Ambérieu-en-Bugey,14127,6618079.0,Ambérieu-en-Bugey,Amberieu-en-Bugey
3,01005,Ambérieux-en-Dombes,1619,6452069.0,Ambérieux-en-Dombes,Amberieux-en-Dombes
4,01006,Ambléon,109,6452070.0,Ambléon,Ambleon

In [16]:
match_uniques_nan = match_uniques[match_uniques['geonameid'].isnull()]

In [18]:
match_uniques[match_uniques['NAME']=='Salazie']

         COM     NAME  POP_15  geonameid name asciiname
31551  97421  Salazie    7384        NaN  NaN       NaN

In [233]:
#match_uniques_nan.to_csv('match_uniques_nan.csv',encoding='utf-8')

In [234]:
#Census_2015[Census_2015['NAME']=="L' Abergement-Clémenciat"]

In [217]:
match_uniques_nan.head()

        COM                      NAME  POP_15  geonameid name
0     01001  L' Abergement-Clémenciat     767        NaN  NaN
1     01002    L' Abergement-de-Varey     241        NaN  NaN
608   02281         L' Épine-aux-Bois     265        NaN  NaN
1389  04079                 L' Escale    1408        NaN  NaN
1400  04095             L' Hospitalet      89        NaN  NaN

In [19]:
match_uniques_nan_joined = pd.merge(match_uniques_nan,scraped_geoids,how = 'left',left_on='NAME',right_on='city_names')

In [20]:
match_uniques_nan_joined.head()

,COM,NAME,POP_15,geonameid,name,asciiname,city_names,matched_name,population,scraped_geoid
0,01001,L' Abergement-Clémenciat,767,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,01002,L' Abergement-de-Varey,241,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,02281,L' Épine-aux-Bois,265,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,04079,L' Escale,1408,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,04095,L' Hospitalet,89,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
#match_uniques_nan_joined

In [29]:
city_list = pd.read_csv('list for webscrapping.csv',header = None,names=['city_names','matched_name','population','geonameid'])

In [30]:
city_list.head()

         city_names  matched_name  population  geonameid
0            Épieds           NaN         NaN        NaN
1       Entrevennes           NaN         NaN        NaN
2  Gréoux-les-Bains           NaN         NaN        NaN
3           Ancelle           NaN         NaN        NaN
4           Éourres           NaN         NaN        NaN

In [ ]:
match_uniques_nan.loc[:,'scraped_name']=0
match_uniques_nan.loc[:,'scraped_population']=0
match_uniques_nan.loc[:,'scraped_geonameid']=0

In [56]:
match_uniques_nan[match_uniques_nan['NAME']==match_uniques_nan['scraped_name']]

,index,COM,NAME,POP_15,geonameid,name,asciiname,scraped_name,scraped_population,scraped_geonameid
25,8023,26051,Bézaudun-sur-Bîne,76,NaN,NaN,NaN,Bézaudun-sur-Bîne,60,3032844
45,17057,52359,Nully,161,NaN,NaN,NaN,Nully,302,2989834
56,24096,67550,Wœrth,1741,NaN,NaN,NaN,Wœrth,1833,2967304
83,26936,76479,Nullemont,138,NaN,NaN,NaN,Nullemont,0,2989835
120,31485,97119,Petit-Canal,8167,NaN,NaN,NaN,Petit-Canal,8554,3578681
122,31487,97121,Pointe-Noire,6280,NaN,NaN,NaN,Pointe-Noire,659084,2255414
126,31491,97132,Trois-Rivières,8297,NaN,NaN,NaN,Trois-Rivières,119693,6169141
131,31496,97203,Basse-Pointe,3357,NaN,NaN,NaN,Basse-Pointe,4037,3571097
154,31519,97232,Le Vauclin,9159,NaN,NaN,NaN,Le Vauclin,7812,3570392
166,31531,97312,Sinnamary,2957,NaN,NaN,NaN,Sinnamary,3180,3380290
168,31533,97314,Ouanary,165,NaN,NaN,NaN,Ouanary,0,3380796
170,31535,97353,Maripasoula,11856,NaN,NaN,NaN,Maripasoula,0,3380994
171,31536,97356,Camopi,1769,NaN,NaN,NaN,Camopi,1295,3382226
173,31538,97358,Saint-Élie,95,NaN,NaN,NaN,Saint-Élie,0,3380415
174,31539,97360,Apatou,8431,NaN,NaN,NaN,Apatou,4752,3382527
182,31547,97406,La Plaine-des-Palmistes,6157,NaN,NaN,NaN,La Plaine-des-Palmistes,0,935694
184,31549,97413,Saint-Leu,33701,NaN,NaN,NaN,Saint-Leu,28278,935225

In [53]:
#match_uniques_nan['NAME']#==
match_uniques_nan['scraped_name']

0           L'Abergement-Clémenciat
1             L'Abergement-de-Varey
2                  L’Épine-aux-Bois
3                         Greenwich
4               Barri de Sant Josep
5            L’Argentière-la-Bessée
6                        Le Dévoluy
7                        L’Escarène
8                         L’Écaille
9                         L'Échelle
10                      L’Aiguillon
11                           L’Herm
12      L’Hospitalet-près-l’Andorre
13           L'Hospitalet-du-Larzac
14                     Montparnasse
15                  LIsle-dEspagnac
16                        L’Éguille
17                        L’Houmeau
18                L’Église-aux-Bois
19                    L’Étang-Vergy
20                    Plœuc-sur-Lié
21                      L’Écouvotte
22            L’Hôpital-du-Grosbois
23         L'Hôpital-Saint-Lieffroy
24              L’Isle-sur-le-Doubs
25                Bézaudun-sur-Bîne
26                          L’Habit
27                         L’Hosmes
28                     L'Île-Rousse
29                     L’Estréchure
                   ...
161                         Johnson
162                 Le Dix-Septième
163                 Cité Beauregard
164                   Holly Springs
165                    Camp Lorrain
166                       Sinnamary
167                     Tonnégrande
168                         Ouanary
169                        Bellevue
170                     Maripasoula
171                          Camopi
172                       Ana Kondé
173                      Saint-Élie
174                          Apatou
175                         Coswine
176                      Papaïchton
177                     Le Tévelave
178                      Îlet Payet
179                 Bras de Ponteau
180                      Les Canots
181                         Charrié
182         La Plaine-des-Palmistes
183                   Le Grand Coin
184                       Saint-Leu
185    Saint-Philippe-de-La Prairie
186                        Bras Sec
187            La Plaine des Cafres
188                 Maison Lelièvre
189              Le Bras des Étangs
190              Le Ruisseau Debons
Name: scraped_name, Length: 191, dtype: object

In [37]:
api_key='AIzaSyDr1wlpuQrUd4fz26B-hi9SJh4cAFEXP_8'
user_name = 'TerryYin1777'

In [ ]:
match_uniques_nan = match_uniques_nan.reset_index()

In [49]:
np.sqrt(0.1)

0.31622776601683794

In [47]:
for i in range(match_uniques_nan.shape[0]):#match_uniques_nan_joined.shape[0]):
    
    city_name = match_uniques_nan.loc[i,'NAME']
    geocoding_url='https://maps.googleapis.com/maps/api/geocode/json?address='+city_name+'&key='+api_key
    
    try:
        geocoding_request = requests.get(geocoding_url)
        geocoding_results = geocoding_request.json()
        lat = geocoding_results['results'][0]['geometry']['location']['lat']
        long = geocoding_results['results'][0]['geometry']['location']['lng']

        geonameid_url = 'http://api.geonames.org/findNearbyPlaceNameJSON?lat='+str(lat)+'&lng='+str(long)+'&username='+user_name
        geonameid_request = requests.get(geonameid_url)
        results_geoid = geonameid_request.json()
        matched_name = results_geoid['geonames'][0]['name']
        population = results_geoid['geonames'][0]['population']
        geonameid = results_geoid['geonames'][0]['geonameId']

        match_uniques_nan.loc[i,['scraped_name','scraped_population','scraped_geonameid']] = [matched_name,population,geonameid]
        
    except:
        print('error happened when checking {}'.format(city_name))
    
    if i % 10 == 0:
        print(i, 'cities done!')

0 cities done!
10 cities done!
20 cities done!
30 cities done!
40 cities done!
error happened when checking Cœur de Causse
50 cities done!
60 cities done!
70 cities done!
80 cities done!
90 cities done!
100 cities done!
110 cities done!
120 cities done!
130 cities done!
140 cities done!
150 cities done!
160 cities done!
170 cities done!
180 cities done!
190 cities done!

In [80]:
city_list.to_csv('matching_results.csv')

In [81]:
city_list

,city_names,matched_name,population,geonameid
0,Épieds,Épieds,358.0,3020044.0
1,Entrevennes,Entrevennes,155.0,3020118.0
2,Gréoux-les-Bains,Gréoux-les-Bains,2045.0,3014717.0
3,Ancelle,Koreatown,124281.0,5363748.0
4,Éourres,Éourres,0.0,3020101.0
5,Saint-Crépin,Saint-Crépin,576.0,2981002.0
6,Entraunes,Entraunes,130.0,3020137.0
7,Dricourt,Dricourt,112.0,3020801.0
8,L' Écaille,L’Écaille,0.0,3004889.0
9,Aigues-Vives,Aigues-Vives,2525.0,3038488.0
10,Gudas,Forest Lakes,0.0,4578892.0
11,L' Herm,L’Herm,0.0,2998623.0
12,Gramond,Gramond,376.0,3015376.0
13,Honfleur,Honfleur,8148.0,3013173.0
14,Houlette,Dumas,15001.0,5520552.0
15,Les Églises-d'Argenteuil,Les Églises-d’Argenteuil,0.0,3001177.0
16,Hiers-Brouage,Hiers-Brouage,593.0,3013293.0
17,Égletons,Egletons,0.0,6544981.0
18,Étalante,Étalante,151.0,3019467.0
19,Plévin,Plévin,811.0,2986748.0
20,Écot,Écot,413.0,3020447.0
21,Hérimoncourt,Hérimoncourt,4099.0,3013448.0
22,L' Hôpital-du-Grosbois,L’Hôpital-du-Grosbois,0.0,2998572.0
23,Indevillers,Indevillers,204.0,3012808.0
24,Bésignan,Bésignan,73.0,3033118.0
25,Guiseniers,Guiseniers,404.0,3014193.0
26,Honguemare-Guenouville,Honguemare-Guenouville,650.0,3013171.0
27,Giuncaggio,Giuncaggio,83.0,3015916.0
28,Estézargues,Estézargues,414.0,3019541.0
29,Huos,Huos,454.0,3012975.0
...,...,...,...,...
162,Saint-Georges,Saint George,72897.0,5546220.0
163,Remire-Montjoly,Cité Beauregard,0.0,3382417.0
164,Roura,Holly Springs,7610.0,4430104.0
165,Saint-Laurent-du-Maroni,Camp Lorrain,0.0,10372497.0
166,Sinnamary,Sinnamary,3180.0,3380290.0
167,Montsinéry-Tonnegrande,Tonnégrande,0.0,3380167.0
168,Ouanary,Ouanary,0.0,3380796.0
169,Saül,Bellevue,0.0,3382400.0
170,Maripasoula,Maripasoula,0.0,3380994.0
171,Camopi,Camopi,1295.0,3382226.0
172,Grand-Santi,Ana Kondé,0.0,3382553.0
173,Saint-Élie,Saint-Élie,0.0,3380415.0
174,Apatou,Apatou,4752.0,3382527.0
175,Awala-Yalimapo,Coswine,0.0,3382012.0
176,Papaichton,Papaïchton,0.0,3380743.0
177,Les Avirons,Le Tévelave,0.0,935577.0
178,Bras-Panon,Îlet Payet,0.0,935760.0
179,Entre-Deux,Bras de Ponteau,0.0,936053.0
180,L' Étang-Salé,Les Canots,0.0,935604.0
181,Petite-Île,Charrié,0.0,11877157.0
182,Le Port,San Francisco,864816.0,5391959.0
183,Saint-Joseph,Dallas,0.0,4383236.0
184,Saint-Pierre,Saint-Pierre,6200.0,3424934.0
185,Sainte-Marie,Sainte-Marie,20380.0,3569926.0
186,Sainte-Suzanne,Sainte-Suzanne,1059.0,2980304.0
187,Salazie,Bras Sec,0.0,11877914.0
188,Le Tampon,La Plaine des Cafres,0.0,935695.0
189,Les Trois-Bassins,Maison Lelièvre,0.0,935547.0
190,Cilaos,Le Bras des Étangs,0.0,11877903.0
191,Saint-Martin,Fond Mahaut,0.0,6985383.0

In [58]:
Census_dups.shape

(3866, 3)

In [62]:
france_dups = france[france['name'].duplicated(keep = False)]

In [ ]:
Census_dups['NAME'].nunique()

In [73]:
france_dups['name'].nunique()

1499

In [71]:
len(list(set(Census_dups['NAME']).intersection(france_dups['name'])))

1495

In [69]:
france_dups[france_dups['name'].isin(Census_dups['NAME'].unique())]

,geonameid,name,asciiname,alternatenames,latitude,longitude,feature_class,feature_code,country_code,cc2,admin1_code,admin2_code,admin3_code,admin4_code,population,elevation,dem,timezone,modification_date
444,6425856,Sanilhac,Sanilhac,"San'jak,Sanijak,sa ni ya ke,Санийак,Саньяк,萨尼亚克",44.53560,4.25060,A,ADM4,FR,NaN,84,7,71,7307,393,NaN,447,Europe/Paris,2016-02-18
522,6446336,Santeuil,Santeuil,NaN,49.12556,1.95139,A,ADM4,FR,NaN,11,95,953,95584,582,NaN,67,Europe/Paris,2016-02-18
532,6448896,Billy,Billy,NaN,47.31210,1.53980,A,ADM4,FR,NaN,24,41,413,41016,849,NaN,87,Europe/Paris,2016-02-18
552,6455040,Cassagnoles,Cassagnoles,"Cassinholas,Cassinhòlas,Kasanol,Kassan'ol',ka ...",44.02250,4.13056,A,ADM4,FR,NaN,76,30,301,30071,427,NaN,123,Europe/Paris,2016-02-18
567,6614016,Vitrolles,Vitrolles,"Vitrol,Vitrol',Vitrola,Vitròla,biteulol,vu~ito...",43.46000,5.24861,A,ADM4,FR,NaN,93,13,134,13117,36117,NaN,136,Europe/Paris,2016-02-18
575,6616576,Savignac,Savignac,"Savin'jak,Savinhac,sa wei ni ya ke,Савиньяк,Са...",44.52300,-0.10810,A,ADM4,FR,NaN,75,33,333,33508,575,NaN,53,Europe/Paris,2016-02-18
585,6425089,Mortiers,Mortiers,"Mort'e,mo er jie,Мортье,Мортьє,莫尔捷",49.68722,3.66806,A,ADM4,FR,NaN,32,2,22,2529,212,NaN,64,Europe/Paris,2016-02-18
587,6426113,Seraincourt,Seraincourt,NaN,49.61083,4.20139,A,ADM4,FR,NaN,44,8,82,8413,242,NaN,110,Europe/Paris,2016-02-18
594,6428417,Saint-Chamant,Saint-Chamant,"Sen-Shaman,Sench Amand,sheng sha mang,Сен-Шама...",45.12611,1.89556,A,ADM4,FR,NaN,75,19,192,19192,509,NaN,202,Europe/Paris,2016-02-18
626,6437377,Saint-Gorgon,Saint-Gorgon,"Sant-Kogo,Sen-Gorgon,sheng ge er gong,Сен-Горг...",47.64917,-2.23667,A,ADM4,FR,NaN,53,56,563,56216,325,NaN,79,Europe/Paris,2016-02-18
651,6443777,Nonville,Nonville,"Nonvil',Нонвиль,Нонвіль",48.28278,2.79278,A,ADM4,FR,NaN,11,77,774,77340,640,NaN,68,Europe/Paris,2016-02-18
662,6446593,Châteaufort,Chateaufort,"Chasteufort,Chastèufòrt,Shatofor,sha tuo fu er...",44.27417,6.01611,A,ADM4,FR,NaN,93,4,44,4050,23,NaN,637,Europe/Paris,2016-02-18
677,6451201,Auteuil,Auteuil,"Otej,Отей,Отеј",48.84056,1.81722,A,ADM4,FR,NaN,11,78,782,78034,905,NaN,116,Europe/Paris,2016-02-18
684,6454273,Longchamp,Longchamp,NaN,48.12806,5.44000,A,ADM4,FR,NaN,44,52,521,52291,75,NaN,425,Europe/Paris,2016-02-18
686,6454785,Prades,Prades,NaN,43.61310,1.97450,A,ADM4,FR,NaN,76,81,812,81212,146,NaN,232,Europe/Paris,2017-09-08
687,6455041,Chambon,Chambon,"Lo Chambon,Shambon,Шамбон",44.30194,4.01806,A,ADM4,FR,NaN,76,30,301,30079,281,NaN,252,Europe/Paris,2016-02-18
698,6613249,Bars,Bars,"Bar,Barc,Bars,Barç,ba er,Бар,Барс,巴尔",43.51167,0.29417,A,ADM4,FR,NaN,76,32,323,32030,134,NaN,254,Europe/Paris,2016-02-18
699,6613761,Saint-Pierre-des-Ifs,Saint-Pierre-des-Ifs,"Sen-P'er-dez-If,Sen-P'err-dez-If,Sen-Perr-dez-...",49.11278,0.15750,A,ADM4,FR,NaN,28,14,143,14648,464,NaN,160,Europe/Paris,2016-02-18
700,6614017,Savigneux,Savigneux,"Savin'e,Savin'jo,Savinyo,sa wei ni e,safynyw ...",46.00111,4.84778,A,ADM4,FR,NaN,84,1,12,1398,1195,NaN,258,Europe/Paris,2016-02-18
705,6615809,Perthes,Perthes,"Pert,pei er te,Перт,佩尔特",49.44960,4.35140,A,ADM4,FR,NaN,44,8,82,8339,297,NaN,130,Europe/Paris,2016-02-18
706,6616065,Charny,Charny,"Sharni,Шарни",47.33640,4.42970,A,ADM4,FR,NaN,27,21,213,21147,33,NaN,461,Europe/Paris,2016-02-18
713,6617857,Saint-Sigismond,Saint-Sigismond,NaN,46.35000,-0.68950,A,ADM4,FR,NaN,52,85,851,85269,413,NaN,7,Europe/Paris,2016-02-18
731,6429442,Molières,Molieres,"Mol'er,Molieras,Molièras,mo li ai,Мольер,Мольє...",44.81100,0.82430,A,ADM4,FR,NaN,75,24,241,24273,319,NaN,163,Europe/Paris,2016-02-18
740,6432002,Maupas,Maupas,NaN,43.84667,-0.13556,A,ADM4,FR,NaN,76,32,322,32246,196,NaN,110,Europe/Paris,2016-02-18
757,11548418,Saint-Lucien,Saint-Lucien,NaN,49.50905,1.45097,A,ADM4,FR,NaN,28,76,761,76601,0,NaN,179,Europe/Paris,2017-05-12
792,6446338,Seraincourt,Seraincourt,"Serenkur,Серенкур",49.03528,1.86722,A,ADM4,FR,NaN,11,95,953,95592,1344,NaN,40,Europe/Paris,2016-02-18
800,6448386,Asques,Asques,"Ascas,Ask,a si qu ai,Аск,阿斯屈埃",44.95167,-0.41222,A,ADM4,FR,NaN,75,33,335,33016,477,NaN,32,Europe/Paris,2016-02-18
818,6454274,Maizières,Maizieres,NaN,48.49306,5.06694,A,ADM4,FR,NaN,44,52,523,52302,169,NaN,270,Europe/Paris,2016-02-18
822,6455298,Gignac,Gignac,"Ginhac,Zhin'jak,Zhinak,ji ni ya ke,Жиньяк,Жиња...",43.91917,5.52667,A,ADM4,FR,NaN,93,84,841,84048,59,NaN,466,Europe/Paris,2016-02-18
833,6612994,Aujac,Aujac,"Ozhak,ao ya ke,Ожак,奥雅克",44.34944,4.01417,A,ADM4,FR,NaN,76,30,301,30022,180,NaN,512,Europe/Paris,2016-02-18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35442,6615037,Les Forges,Les Forges,NaN,46.54028,-0.03167,A,ADM4,FR,NaN,75,79,793,79124,126,NaN,195,Europe/Paris,2016-02-18
35444,6616061,Blanot,Blanot,"Blano,Блано",47.17260,4.23620,A,ADM4,FR,NaN,27,21,211,21083,130,NaN,410,Europe/Paris,2016-02-18
35446,6616573,Saint-Savin,Saint-Savin,"Sen-Saven,sheng sa wan,Сен-Савен,سین-سون، گرون...",45.13860,-0.44830,A,ADM4,FR,NaN,75,33,331,33473,2775,NaN,77,Europe/Paris,2016-02-18
35447,6616829,Saint-Florent,Saint-Florent,NaN,47.69100,2.47760,A,ADM4,FR,NaN,24,45,452,45277,471,NaN,145,Europe/Paris,2016-02-18
35452,6618109,Vaux,Vaux,"Vaus,Vo,wo zhen,Во,واوکس، علیر,沃镇",46.42650,2.59820,A,ADM4,FR,NaN,84,3,31,3301,1040,NaN,188,Europe/Paris,2016-02-18
35469,6429438,Mialet,Mialet,"M'jale,Mjale,mi a lai,Мьяле,Мяле,米阿莱",45.54972,0.90417,A,ADM4,FR,NaN,75,24,242,24269,665,NaN,325,Europe/Paris,2016-02-18
35492,6436094,Villers-le-Sec,Villers-le-Sec,NaN,48.81361,4.85417,A,ADM4,FR,NaN,44,51,514,51635,99,NaN,137,Europe/Paris,2016-02-18
35495,6436862,Serres,Serres,NaN,48.69000,6.46250,A,ADM4,FR,NaN,44,54,542,54502,264,NaN,278,Europe/Paris,2016-02-21
35556,6455038,Bellegarde,Bellegarde,"Bel'gard,Belagarda,Belgard,Bèlagarda,bei lei j...",43.75361,4.51444,A,ADM4,FR,NaN,76,30,302,30034,6228,NaN,10,Europe/Paris,2016-02-18
35567,6613502,Châtelus,Chatelus,NaN,45.05806,5.37250,A,ADM4,FR,NaN,84,38,381,38092,89,NaN,511,Europe/Paris,2016-02-18
35568,6613758,Pujols,Pujols,"Pjuzhol',Pujols,Pujòls,pi ruo er,Пюжоль,皮若尔",44.38530,0.68930,A,ADM4,FR,NaN,75,47,473,47215,3645,NaN,164,Europe/Paris,2016-02-18
35569,6614014,Marolles-en-Brie,Marolles-en-Brie,"Marol'-an-Bri,bu li ye de qu ma luo lai,Мароль...",48.73250,2.55083,A,ADM4,FR,NaN,11,94,941,94048,5000,NaN,88,Europe/Paris,2016-02-18
35575,6616062,Bussières,Bussieres,"Bjus'er,Бюсьер",47.66400,4.96610,A,ADM4,FR,NaN,27,21,212,21119,41,NaN,438,Europe/Paris,2016-02-18
35576,6616574,Salles,Salles,"Sal',Salas,sa lai,Саль,萨莱",44.55180,-0.86860,A,ADM4,FR,NaN,75,33,336,33498,6044,NaN,27,Europe/Paris,2016-02-18
35583,6618366,Longvilliers,Longvilliers,"Lonvil'e,long wei lai er,lwnjfyrs,Лонвилье,Лон...",50.54400,1.72790,A,ADM4,FR,NaN,32,62,624,62527,243,NaN,34,Europe/Paris,2016-02-18
35609,6431743,Paulhac,Paulhac,"Pol'jak,Polak,bo ya ke,Полак,Польяк,波亚克",43.75530,1.55690,A,ADM4,FR,NaN,76,31,313,31407,1121,NaN,188,Europe/Paris,2016-02-18
35619,6434559,Vieillevigne,Vieillevigne,"Henwinieg,Vejvin',vu~ieiyuvu~inyu,wei ye yi le...",46.97111,-1.43333,A,ADM4,FR,NaN,52,44,442,44216,3894,NaN,41,Europe/Paris,2016-02-18
35659,6445055,Rians,Rians,"R'jan,Rian,Rians,li yang,Рианс,Рьян,Ріан,里扬",43.60694,5.75722,A,ADM4,FR,NaN,93,83,833,83104,4199,NaN,396,Europe/Paris,2016-02-18
35670,6447871,Aurel,Aurel,"Aureu,Aurèu,Orel,Orel',Орел,Орель",44.69556,5.29889,A,ADM4,FR,NaN,84,26,261,26019,236,NaN,434,Europe/Paris,2016-02-18
35678,6450175,Barville,Barville,"Barvil,Barvil',ba er wei er,Барвил,Барвиль,Бар...",48.48278,0.34194,A,ADM4,FR,NaN,28,61,613,61026,200,NaN,148,Europe/Paris,2016-02-18
35686,6452223,Allonnes,Allonnes,NaN,48.33028,1.65694,A,ADM4,FR,NaN,24,28,281,28004,312,NaN,150,Europe/Paris,2016-02-18
35688,6453503,Lapeyrouse,Lapeyrouse,"Lapejruz,Laperuz,la pei lu ci,labyrws,Лапейруз...",45.98333,4.97667,A,ADM4,FR,NaN,84,1,12,1207,290,NaN,294,Europe/Paris,2016-02-18
35689,6453759,Champignolles,Champignolles,"Shampin'ol',Шампиньоль",47.05528,4.56639,A,ADM4,FR,NaN,27,21,211,21140,70,NaN,387,Europe/Paris,2016-02-18
35707,6613247,Chappes,Chappes,"Chapas,Shap,Shapp,sha pei,Шап,Шапп,沙佩",45.86861,3.22056,A,ADM4,FR,NaN,84,63,634,63089,1500,NaN,313,Europe/Paris,2016-02-18
35708,6613503,Grand-Camp,Grand-Camp,NaN,49.55833,0.59361,A,ADM4,FR,NaN,28,76,762,76318,675,NaN,149,Europe/Paris,2016-02-18
35709,6613759,Fabas,Fabas,NaN,43.86060,1.35080,A,ADM4,FR,NaN,76,82,822,82057,518,NaN,146,Europe/Paris,2016-02-18
35713,6614783,Châteauneuf,Chateauneuf,"Castrum Novum in Auxeto,Chateauneuf-en-Auxois,...",47.21889,4.64111,A,ADM4,FR,NaN,27,21,211,21152,85,NaN,476,Europe/Paris,2016-02-18
35716,6616063,Cérilly,Cerilly,"Seriji,Серийи",47.86560,4.49630,A,ADM4,FR,NaN,27,21,213,21125,263,NaN,228,Europe/Paris,2016-02-18
35719,6616831,Thou,Thou,"Tu,tu zhen,Ту,图镇",47.58030,2.90870,A,ADM4,FR,NaN,24,45,451,45323,234,NaN,180,Europe/Paris,2016-02-18
35725,6618367,Longueville,Longueville,"Longvil',long ge wei er,lwnjwyfyl,Лонгвиль,Лон...",50.73210,1.88090,A,ADM4,FR,NaN,32,62,623,62526,132,NaN,124,Europe/Paris,2016-02-18

In [75]:
common_unique_cities = list(set(Census_dups['NAME']).intersection(france_dups['name']))

In [83]:
Census_dups[Census_dups['NAME']=='Vineuil']

         COM     NAME  POP_15
13929  36247  Vineuil    1225
15837  41295  Vineuil    7724

In [91]:
#census_unique_sub = pd.DataFrame(columns = ['COM','NAME','POP_15'])
#for c in common_unique_cities[2]:
census_unique_sub = Census_dups[Census_dups['NAME']=='Vineuil']
    #for i in range(census_unique_sub.shape[0]):
     #   census_unique_sub['NAME'] = census_unique_sub['NAME']+str(_)+str(i)
        
        
census_unique_sub.head()

         COM     NAME  POP_15
13929  36247  Vineuil    1225
15837  41295  Vineuil    7724

In [ ]:
Census_dups.groupby('NAME')